In [82]:
import tejapi
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
tejapi.ApiConfig.api_key = 'Your Key'
tejapi.ApiConfig.ignoretz = True

In [83]:
#撈取友達，所有會計科目，不使用pivot()
au_no_pivot = tejapi.get('TWN/AIM1A',
                    coid = '2409',
                    paginate = True,
                    chinese_column_name = True)
au_no_pivot

       公司代碼       財報年月  會計科目           數值
None
0      2409 2000-12-01  0010  45033252.00
1      2409 2000-12-01  0020  45033252.00
2      2409 2000-12-01  0100   8177473.00
3      2409 2000-12-01  0112   1036666.00
4      2409 2000-12-01  012C   1566289.00
...     ...        ...   ...          ...
13017  2409 2021-03-01  R699  11755126.00
13018  2409 2021-03-01  R69B   4669191.00
13019  2409 2021-03-01  R834      1835.05
13020  2409 2021-03-01  R835       265.90
13021  2409 2021-03-01  R836      4012.58

[13022 rows x 4 columns]

In [18]:
#撈取一家公司，所有會計科目，使用pivot()
au_pivot = tejapi.get('TWN/AIM1A',
                    coid = '2409',
                    paginate = True,
                    opts = {'pivot':True},
                    chinese_column_name = True)
au_pivot

,公司代碼,財報年月,現金及約當現金,透過損益按公允價值衡量之金融資產－流動,透過其他綜合損益按公允價值衡量之金融資產－流動,按攤銷後成本衡量之金融資產－流動,避險之金融資產－流動,合約資產－流動,應收帳款及票據,其他應收款,...,財報發布日,財報類別（1個別2個體3合併）,財報年月起日,財報年月迄日,市場別,交易所主產業代碼,交易所子產業代碼,TEJ主產業代碼,TEJ子產業代碼,財報附註TEJ是否完成Y/N
None,,,,,,,,,,,,,,,,,,,,,
0,2409,2000-12-01,1036666.0,1566289.0,NaN,NaN,NaN,NaN,1766939.0,0.0,...,None,None,None,None,None,None,None,None,None,None
1,2409,2001-12-01,6496268.0,5026543.0,NaN,NaN,NaN,NaN,8998004.0,23653.0,...,None,None,None,None,None,None,None,None,None,None
2,2409,2002-12-01,25957194.0,3231835.0,NaN,NaN,NaN,NaN,10047124.0,14340.0,...,None,None,None,None,None,None,None,None,None,None
3,2409,2003-12-01,17962082.0,2286504.0,NaN,NaN,NaN,NaN,16946559.0,14420.0,...,None,None,None,None,None,None,None,None,None,None
4,2409,2004-12-01,17797663.0,1586504.0,NaN,NaN,NaN,NaN,20715617.0,2358.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2409,2020-03-01,76788669.0,1604981.0,0.0,0.0,0.0,94440.0,27884039.0,42761.0,...,None,None,None,None,None,None,None,None,None,None
60,2409,2020-06-01,72155424.0,976939.0,0.0,0.0,0.0,0.0,36970692.0,332248.0,...,None,None,None,None,None,None,None,None,None,None
61,2409,2020-09-01,78300196.0,1485597.0,0.0,0.0,0.0,0.0,44752956.0,49384.0,...,None,None,None,None,None,None,None,None,None,None
62,2409,2020-12-01,90274687.0,668058.0,0.0,0.0,0.0,0.0,46794956.0,21929.0,...,None,None,None,None,None,None,None,None,None,None
63,2409,2021-03-01,103783772.0,53246.0,0.0,0.0,0.0,506651.0,53382876.0,1609.0,...,None,None,None,None,None,None,None,None,None,None

In [46]:
#空dataframe
panel = ['2409','3481','6116']

In [47]:
#三家公司、所有科目示範
finance = pd.DataFrame()
for firm in panel:
    finance = finance.append(tejapi.get('TWN/AIM1A',
                    coid = firm,
                    paginate = True,
                    opts = {'pivot':True},
                    chinese_column_name = True))
finance

,公司代碼,財報年月,現金及約當現金,透過損益按公允價值衡量之金融資產－流動,透過其他綜合損益按公允價值衡量之金融資產－流動,按攤銷後成本衡量之金融資產－流動,避險之金融資產－流動,合約資產－流動,應收帳款及票據,其他應收款,...,財報發布日,財報類別（1個別2個體3合併）,財報年月起日,財報年月迄日,市場別,交易所主產業代碼,交易所子產業代碼,TEJ主產業代碼,TEJ子產業代碼,財報附註TEJ是否完成Y/N
None,,,,,,,,,,,,,,,,,,,,,
0,2409,2000-12-01,1036666.0,1566289.0,NaN,NaN,NaN,NaN,1766939.0,0.0,...,None,None,None,None,None,None,None,None,None,None
1,2409,2001-12-01,6496268.0,5026543.0,NaN,NaN,NaN,NaN,8998004.0,23653.0,...,None,None,None,None,None,None,None,None,None,None
2,2409,2002-12-01,25957194.0,3231835.0,NaN,NaN,NaN,NaN,10047124.0,14340.0,...,None,None,None,None,None,None,None,None,None,None
3,2409,2003-12-01,17962082.0,2286504.0,NaN,NaN,NaN,NaN,16946559.0,14420.0,...,None,None,None,None,None,None,None,None,None,None
4,2409,2004-12-01,17797663.0,1586504.0,NaN,NaN,NaN,NaN,20715617.0,2358.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,6116,2020-03-01,4026167.0,157362.0,0.0,10704344.0,0.0,0.0,1800488.0,163320.0,...,None,None,None,None,None,None,None,None,None,None
60,6116,2020-06-01,3420442.0,161798.0,0.0,10578239.0,0.0,0.0,1809163.0,117998.0,...,None,None,None,None,None,None,None,None,None,None
61,6116,2020-09-01,4138213.0,167239.0,0.0,11809023.0,0.0,0.0,1650496.0,123459.0,...,None,None,None,None,None,None,None,None,None,None
62,6116,2020-12-01,4159293.0,31434.0,0.0,16569180.0,0.0,0.0,1786461.0,92548.0,...,None,None,None,None,None,None,None,None,None,None
63,6116,2021-03-01,6690554.0,441655.0,0.0,17203133.0,0.0,0.0,2539352.0,112747.0,...,None,None,None,None,None,None,None,None,None,None

In [26]:
#會計科目欄位查詢
accounting = tejapi.get('TWN/AIACC',
                       id = 'AIM1A',  #這邊要注意一下，因為要挑選簡表欄位
                       paginate = True,
                       chinese_column_name = True)

In [27]:
accounting

,分類ID,會計科目,順序,中文全稱,英文全稱,單位,中文表次,英文表次
None,,,,,,,,
0,AIM1A,0000,270,市場別,Market,-,其他,Other
1,AIM1A,0002,267,財報類別（1個別2個體3合併）,Financial Report Type (1.Individual 2. Parent ...,T,其他,Other
2,AIM1A,0003,266,財報發布日,Date of preparation of financial statements,-,其他,Other
3,AIM1A,0004,268,財報年月起日,Fiscal Year Start Date,-,其他,Other
4,AIM1A,0005,269,財報年月迄日,Fiscal Year End Date,-,其他,Other
...,...,...,...,...,...,...,...,...
270,AIM1A,R699,229,淨負債,Net DEBT,T,償債能力指標,Liquidity Analysis
271,AIM1A,R69B,250,自由現金流量(D),Free Cash Flow (D),T,經營能力指標,Operating Performance Analysis
272,AIM1A,R834,255,每人營收,Revenue Per Employee,T,其他,Other
273,AIM1A,R835,256,每人營業利益,Operation Income Per Employee,T,其他,Other
274,AIM1A,R836,257,每人配備率,Fixed Assets Per Employee,T,其他,Other

In [48]:
#查詢對應科目的方式(用中文全稱or英文全稱)，可順便留意單位
#折舊
depreciation = accounting[accounting['中文全稱'].str.contains('折舊')]
depreciation

,分類ID,會計科目,順序,中文全稱,英文全稱,單位,中文表次,英文表次
None,,,,,,,,
98,AIM1A,2403,124,稅前息前折舊前淨利,"Earnings before interest, tax, depreciation an...",T,損益表,Income Statement
161,AIM1A,7211,142,折舊－CFO,Depreciation expense,T,現金流量表,Cash Flow Statement
179,AIM1A,R100,164,ROA(C)稅前息前折舊前,Return on Assets Ratio (C) - Recurring Income ...,-,獲利能力指標,Profitability Analysis
181,AIM1A,R102,166,ROA(B)稅後息前折舊前,Return on Assets Ratio (B) - Recurring Income ...,-,獲利能力指標,Profitability Analysis
191,AIM1A,R145,169,稅前息前折舊前淨利率,"Net Profit Margin - Before Interest, Taxes, De...",-,獲利能力指標,Profitability Analysis
226,AIM1A,R410,212,折舊性FA成長率,Depreciable Fixed Assets Growth Rate - YOY,-,成長率指標,Growth Analysis

In [49]:
#折舊
depreciation[depreciation['中文表次'].str.contains('現金流量')]

,分類ID,會計科目,順序,中文全稱,英文全稱,單位,中文表次,英文表次
None,,,,,,,,
161,AIM1A,7211,142,折舊－CFO,Depreciation expense,T,現金流量表,Cash Flow Statement

In [50]:
#找出資產負債表所有科目
#balance_sheet 
balance_sheet = accounting[accounting['中文表次'].str.contains('資產負債')]
balance_sheet

,分類ID,會計科目,順序,中文全稱,英文全稱,單位,中文表次,英文表次
None,,,,,,,,
9,AIM1A,0010,29,資產總額,Total assets,T,資產負債表,Balance Sheet
10,AIM1A,0020,78,負債及股東權益總額,Total liabilities & equity,T,資產負債表,Balance Sheet
11,AIM1A,0100,13,流動資產,Total current assets,T,資產負債表,Balance Sheet
12,AIM1A,0112,1,現金及約當現金,Total cash and cash equivalents,T,資產負債表,Balance Sheet
14,AIM1A,012H,3,透過其他綜合損益按公允價值衡量之金融資產－流動,Financial assets at fair value through other c...,T,資產負債表,Balance Sheet
...,...,...,...,...,...,...,...,...
96,AIM1A,2400,72,庫藏股票帳面值,Treasury shares,T,資產負債表,Balance Sheet
99,AIM1A,2480,71,其他權益,Total other equity interest,T,資產負債表,Balance Sheet
100,AIM1A,2801,74,共同控制下前手權益,Interests in the former associate or jointly c...,T,資產負債表,Balance Sheet
101,AIM1A,2802,75,合併前非屬共同控制股權,Non-controlling interest in pre-acquisition sh...,T,資產負債表,Balance Sheet
102,AIM1A,2900,76,非控制權益,Non-controlling interests,T,資產負債表,Balance Sheet

In [51]:
BS_list = balance_sheet['會計科目'].tolist()
BS_list

['0010',
 '0020',
 '0100',
 '0112',
 '012H',
 '012M',
 '0130',
 '0160',
 '0165',
 '0170',
 '017Z',
 '0182',
 '0197',
 '01BA',
 '01BB',
 '0314',
 '0315',
 '032A',
 '034A',
 '0350',
 '0361',
 '0370',
 '0391',
 '0400',
 '0810',
 '0813',
 '0820',
 '0890',
 '0960',
 '0966',
 '1000',
 '1100',
 '1110',
 '1120',
 '1128',
 '112A',
 '112M',
 '112N',
 '1130',
 '1181',
 '118E',
 '1190',
 '1199',
 '1220',
 '1226',
 '123A',
 '1411',
 '1421',
 '1441',
 '1446',
 '1485',
 '1490',
 '1510',
 '1515',
 '1560',
 '156P',
 '1583',
 '1587',
 '1588',
 '1800',
 '2000',
 '200E',
 '2110',
 '211E',
 '2120',
 '2200',
 '2300',
 '2302',
 '2310',
 '2320',
 '2330',
 '2340',
 '2341',
 '2400',
 '2480',
 '2801',
 '2802',
 '2900']

In [73]:
finance = pd.DataFrame()
for firm in panel:
    finance = finance.append(tejapi.get('TWN/AIM1A',
                    coid = firm,
                    paginate = True,
                    opts = {'pivot':True, 'columns': ['coid','mdate'] + BS_list},
                    chinese_column_name = True))
finance

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,庫藏股票帳面值,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益
None,,,,,,,,,,,
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,0.0,1215.0,NaN,NaN,0.0
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,0.0,8902.0,NaN,NaN,0.0
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,-182849.0,27151.0,NaN,NaN,0.0
3,2409,2003-12-01,158070841.0,158070841.0,50682344.0,...,-250981.0,4419.0,NaN,NaN,0.0
4,2409,2004-12-01,230694425.0,230694425.0,59747303.0,...,-250981.0,-201809.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
59,6116,2020-03-01,47262792.0,47262792.0,18418025.0,...,0.0,-1201239.0,0.0,0.0,24188.0
60,6116,2020-06-01,47106510.0,47106510.0,17905662.0,...,0.0,-922282.0,0.0,0.0,12928.0
61,6116,2020-09-01,49257354.0,49257354.0,23614991.0,...,-1279302.0,-770864.0,0.0,0.0,107072.0
62,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,0.0,-223193.0,0.0,0.0,105608.0
63,6116,2021-03-01,57099499.0,57099499.0,28729119.0,...,0.0,-110471.0,0.0,0.0,105615.0

In [74]:
finance = finance.reset_index(drop = True)
finance

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,庫藏股票帳面值,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,0.0,1215.0,NaN,NaN,0.0
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,0.0,8902.0,NaN,NaN,0.0
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,-182849.0,27151.0,NaN,NaN,0.0
3,2409,2003-12-01,158070841.0,158070841.0,50682344.0,...,-250981.0,4419.0,NaN,NaN,0.0
4,2409,2004-12-01,230694425.0,230694425.0,59747303.0,...,-250981.0,-201809.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
184,6116,2020-03-01,47262792.0,47262792.0,18418025.0,...,0.0,-1201239.0,0.0,0.0,24188.0
185,6116,2020-06-01,47106510.0,47106510.0,17905662.0,...,0.0,-922282.0,0.0,0.0,12928.0
186,6116,2020-09-01,49257354.0,49257354.0,23614991.0,...,-1279302.0,-770864.0,0.0,0.0,107072.0
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,0.0,-223193.0,0.0,0.0,105608.0
188,6116,2021-03-01,57099499.0,57099499.0,28729119.0,...,0.0,-110471.0,0.0,0.0,105615.0

In [75]:
#備份
fin = finance.copy()
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,庫藏股票帳面值,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,0.0,1215.0,NaN,NaN,0.0
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,0.0,8902.0,NaN,NaN,0.0
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,-182849.0,27151.0,NaN,NaN,0.0
3,2409,2003-12-01,158070841.0,158070841.0,50682344.0,...,-250981.0,4419.0,NaN,NaN,0.0
4,2409,2004-12-01,230694425.0,230694425.0,59747303.0,...,-250981.0,-201809.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
184,6116,2020-03-01,47262792.0,47262792.0,18418025.0,...,0.0,-1201239.0,0.0,0.0,24188.0
185,6116,2020-06-01,47106510.0,47106510.0,17905662.0,...,0.0,-922282.0,0.0,0.0,12928.0
186,6116,2020-09-01,49257354.0,49257354.0,23614991.0,...,-1279302.0,-770864.0,0.0,0.0,107072.0
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,0.0,-223193.0,0.0,0.0,105608.0
188,6116,2021-03-01,57099499.0,57099499.0,28729119.0,...,0.0,-110471.0,0.0,0.0,105615.0

In [76]:
#建立月份欄位S
fin['月'] = fin['財報年月'].dt.month
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,月
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,1215.0,NaN,NaN,0.0,12
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,8902.0,NaN,NaN,0.0,12
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,27151.0,NaN,NaN,0.0,12
3,2409,2003-12-01,158070841.0,158070841.0,50682344.0,...,4419.0,NaN,NaN,0.0,12
4,2409,2004-12-01,230694425.0,230694425.0,59747303.0,...,-201809.0,NaN,NaN,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
184,6116,2020-03-01,47262792.0,47262792.0,18418025.0,...,-1201239.0,0.0,0.0,24188.0,3
185,6116,2020-06-01,47106510.0,47106510.0,17905662.0,...,-922282.0,0.0,0.0,12928.0,6
186,6116,2020-09-01,49257354.0,49257354.0,23614991.0,...,-770864.0,0.0,0.0,107072.0,9
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,-223193.0,0.0,0.0,105608.0,12
188,6116,2021-03-01,57099499.0,57099499.0,28729119.0,...,-110471.0,0.0,0.0,105615.0,3

In [77]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [78]:
fin = fin[fin['月'] == 12]
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,月
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,1215.0,NaN,NaN,0.0,12
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,8902.0,NaN,NaN,0.0,12
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,27151.0,NaN,NaN,0.0,12
3,2409,2003-12-01,158070841.0,158070841.0,50682344.0,...,4419.0,NaN,NaN,0.0,12
4,2409,2004-12-01,230694425.0,230694425.0,59747303.0,...,-201809.0,NaN,NaN,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
171,6116,2016-12-01,44541084.0,44541084.0,17944565.0,...,-147053.0,0.0,0.0,0.0,12
175,6116,2017-12-01,49916929.0,49916929.0,23724271.0,...,-72442.0,0.0,0.0,0.0,12
179,6116,2018-12-01,48623899.0,48623899.0,19963937.0,...,-736271.0,0.0,0.0,30394.0,12
183,6116,2019-12-01,47903368.0,47903368.0,19296712.0,...,-735044.0,0.0,0.0,26054.0,12
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,-223193.0,0.0,0.0,105608.0,12

In [79]:
#排序1
fin = fin.sort_values(by = ['財報年月'], ascending = True)
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,月
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,1215.0,NaN,NaN,0.0,12
125,6116,2000-12-01,41287810.0,41287810.0,6851193.0,...,0.0,NaN,NaN,0.0,12
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,8902.0,NaN,NaN,0.0,12
126,6116,2001-12-01,42806738.0,42806738.0,9549751.0,...,0.0,NaN,NaN,0.0,12
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,27151.0,NaN,NaN,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
183,6116,2019-12-01,47903368.0,47903368.0,19296712.0,...,-735044.0,0.0,0.0,26054.0,12
119,3481,2019-12-01,369764346.0,369764346.0,133118249.0,...,-7325437.0,0.0,0.0,182325.0,12
62,2409,2020-12-01,407270295.0,407270295.0,168317673.0,...,-3270303.0,0.0,0.0,10985674.0,12
123,3481,2020-12-01,379559837.0,379559837.0,159162307.0,...,-6059671.0,0.0,0.0,197386.0,12
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,-223193.0,0.0,0.0,105608.0,12

In [80]:
#排序2
fin = fin.sort_values(by = ['財報年月','資產總額'], ascending = [True, False])
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,月
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,1215.0,NaN,NaN,0.0,12
125,6116,2000-12-01,41287810.0,41287810.0,6851193.0,...,0.0,NaN,NaN,0.0,12
1,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,8902.0,NaN,NaN,0.0,12
126,6116,2001-12-01,42806738.0,42806738.0,9549751.0,...,0.0,NaN,NaN,0.0,12
2,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,27151.0,NaN,NaN,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
119,3481,2019-12-01,369764346.0,369764346.0,133118249.0,...,-7325437.0,0.0,0.0,182325.0,12
183,6116,2019-12-01,47903368.0,47903368.0,19296712.0,...,-735044.0,0.0,0.0,26054.0,12
62,2409,2020-12-01,407270295.0,407270295.0,168317673.0,...,-3270303.0,0.0,0.0,10985674.0,12
123,3481,2020-12-01,379559837.0,379559837.0,159162307.0,...,-6059671.0,0.0,0.0,197386.0,12
187,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,-223193.0,0.0,0.0,105608.0,12

In [81]:
fin = fin.reset_index(drop=True)
fin

,公司代碼,財報年月,資產總額,負債及股東權益總額,流動資產,...,其他權益,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,月
0,2409,2000-12-01,45033252.0,45033252.0,8177473.0,...,1215.0,NaN,NaN,0.0,12
1,6116,2000-12-01,41287810.0,41287810.0,6851193.0,...,0.0,NaN,NaN,0.0,12
2,2409,2001-12-01,103400395.0,103400395.0,30515701.0,...,8902.0,NaN,NaN,0.0,12
3,6116,2001-12-01,42806738.0,42806738.0,9549751.0,...,0.0,NaN,NaN,0.0,12
4,2409,2002-12-01,129171402.0,129171402.0,49830012.0,...,27151.0,NaN,NaN,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
55,3481,2019-12-01,369764346.0,369764346.0,133118249.0,...,-7325437.0,0.0,0.0,182325.0,12
56,6116,2019-12-01,47903368.0,47903368.0,19296712.0,...,-735044.0,0.0,0.0,26054.0,12
57,2409,2020-12-01,407270295.0,407270295.0,168317673.0,...,-3270303.0,0.0,0.0,10985674.0,12
58,3481,2020-12-01,379559837.0,379559837.0,159162307.0,...,-6059671.0,0.0,0.0,197386.0,12
59,6116,2020-12-01,52023356.0,52023356.0,24151050.0,...,-223193.0,0.0,0.0,105608.0,12